<nav class="navbar navbar-default text-center" id="my-navbar" style="padding-right:0px"> <!--Inicio nav!-->
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#"><img class="img-circle hidden-lg hidden-md hidden-sm"src="img/lml.jpg"></a>
							</div>
						</div>
						<div class="collapse navbar-collapse" id="navbar-collapse" style="padding-right:0px">
							<ul class="navbar navbar-nav pull-right gray-link p-0" style="width:44%">
								<li><a href="#">Sobre nosotros</a></li>
								<li class="p-0">|</li>
								<li><a href="#"> Oportunidades</a></li>
								<li><div class="btn-group">
								  <button type="button" class="btn btn-default dropdown-toggle btn-nav-idioms" data-toggle="dropdown" aria-expanded="false">ES<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a href="#" class="color-gray">EN</a></li>
								  </ul>
								</div></li>
								<li><button type="button" class="btn-nav-login btn btn-default">INGRESAR</button></li>				
							</ul>			
						</div>
</nav><!--End nav!-->